/* general style */
* { box-sizing: border-box; }

body {
  font-family: sans-serif, "Arial Regular";
  margin: 0em;
  font-size: 17px;
}

h1 {
  font-family: sans-serif, "Arial Bold";
  font-size: 2.3em;
}

h2 {
  font-family: sans-serif, "Arial Bold";
  font-size: 1.4em;
}

h3 {
  font-family: sans-serif, "Arial Bold";
  font-size: 1em;
}

h4 {
  font-family: sans-serif, "Arial Bold";
  font-size: 1.2em;
  color: #1b447f;
}

p {
  font-size: 1em;
}

.caption {
  font-size: .8em;
}
.center-image {
  justify-content: center;
}
/* header & nav bar */

header {
  background-color: #03a3df;
  color: white;
  padding: 1em;
}

header a:visited {
  text-decoration: none;
  color: white;
}

/* grids */
.grid-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-logo {
  grid-area: 1 / 2 / 2 / 3;
}

.grid-nav {
  grid-area: 1 / 9 / 2 / 13;
}

.grid-about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 4em;
}

.grid-hours {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #ecb722;
  padding: 1em;
}

.grid-statement {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #ecb722;
  padding: 1em;
}

.grid-main {
  grid-area: 1 / 2 / 4 / 5;
}

.grid-side-img {
  grid-area: 1 / 5 / 2 / 6;
  background-color: #ecb722;
  padding: 1em;
}

.grid-side-vid {
  grid-area: 2 / 5 / 3 / 6;
}

.grid-index {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2em;
  padding: 4em;
}

.grid-index-hours {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #ecb722;
  padding: 1em;
}

.grid-index-statement {
  grid-area: 3 / 1 / 5 / 2;
  background-color: #ecb722;
  padding: 1em;
}

.grid-index-main {
  grid-area: 1 / 2 / 2 / 5;
}

.grid-index-img1 {
  grid-area: 2 / 2 / 5 / 4;
}

.grid-index-img2 {
  grid-area: 2 / 4 / 5 / 6;
}

/* quotes */

.quote {
  font-size: 1.8em;
  color: #03a3df;
  font-family: sans-serif, "Arial Regular";
}

.quote-tag {
  font-size: 0.8em;
  font-variant: small-caps;
}

/* footer */

footer {
  width: 100%;
  box-sizing: inherit;
  color: white;
  font-size: 0.6em;
  padding: 0em 2em 2em 2em;
}

.footer-container {
  position: relative;
  text-align: left;
  color: white;
}

.footer-text {
  position: absolute;
  top: 2em;
  left: 6em;
}

/* index pg */
.index-img {
  width: 100%;
}
